BETTER_AUTH_SECRET=secret
BETTER_AUTH_URL=http://localhost:3000

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=linkedin-bot
POSTGRES_PORT=5432
DATABASE_URL="postgresql://user:password@localhost:5432/linkedin-bot?schema=public"

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=